# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\程序\tensorflow-learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
